<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPOTŘEBA ENERGIÍ</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet" />
</head>
<body>
<nav>
    <a th:text="${'Továrny'}" th:href="@{'/'}"></a>
    <a th:text="${'Seznam zařízení haly'}" th:href="@{'/hala/' + ${hala.halaID} + '/zarizeni'}"></a>
    <a th:text="${'Směny'}" th:href="@{'/hala/' + ${hala.halaID} + '/smeny'}"></a>
    <a sec:authorize="hasRole('MANAGER')" th:text="${'Zaměstnanci'}" th:href="@{'/zamestnanci'}"></a>
</nav>

<h1>HALA</h1>

<table id="tovarna">
    <thead>
        <tr>
            <th>Označení zařízení</th>
            <th>Název zařízení</th>
            <th>Spotřeba</th>
            <th>Čas</th>
            <th>Zaměstnanec</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="e: ${zarizeni}">
            <td th:text="${e.oznaceni}"></td>
            <td th:text="${e.nazev}"></td>
            <td th:text="${e.spotreba}"></td>
            <td th:text="${e.time}"></td>
            <td><div th:text="${e.zamestnanec} ? ${e.zamestnanec.jmeno + ' ' + e.zamestnanec.prijmeni}"></div></td>
        </tr>
    </tbody>
</table>

</body>
</html>
