<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPOTŘEBA ENERGIÍ</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet" />

</head>
<body>

<nav>
    <a th:text="${'Továrny'}" th:href="@{'/'}"></a>
    <a th:text="${'Zaměstnanci'}" th:href="@{'/zamestnanci'}"></a>
</nav>

<h1>SPOTŘEBA ENERGIÍ</h1>


<table id="tovarna">
    <thead>
    <tr>
        <th>NÁZEV TOVÁRNY</th>
        <th>ADRESA</th>
        <th>POČET HAL</th>
        <th>CENA ZA KWH</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="e: ${tovarny}">

        <td>
            <a th:href="@{'/tovarna/'+${e.id}}" th:text="${e.nazev}"></a>
        </td>
        <td th:text="${e.mesto + ' ' + e.adresa.ulice + ' ' + e.adresa.cisloPopisne}"></td>
        <td th:text="${e.pocetHal}"></td>
        <td th:text="${e.cenaZaKwh}"></td>
    </tr>
    </tbody>
</table>



</body>
</html>
