<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPOTŘEBA ENERGIÍ</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>SPOTŘEBA ENERGIÍ</h1>

<h2>Továrny</h2>
<table id="tovarnaTable">
    <thead>
    <tr>
        <th>Název továrny</th>
        <th>Adresa</th>
        <th>Počet hal</th>
        <th>Cena za kWh</th>

    </tr>

    </thead>
    <tbody>


<tr th:each="e: ${tovarny}">

    <td th:text="${e.adresa.toString()}"></td>
    <td th:text="${e.nazev}"></td>
    <td th:text="${e.cenazakwh}"></td>

</tr>

    </tbody>

</table>
</body>
</html>
