<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SPOTŘEBA ENERGIÍ</title>
  <link th:href="@{/styles/index.css}" rel="stylesheet" />
</head>
<body>

<nav>
  <a th:text="${'Továrny'}" th:href="@{'/'}"></a>
  <a sec:authorize="hasRole('MANAG')" th:text="${'Zaměstnanci'}" th:href="@{'/zamestnanci'}"></a>
</nav>

<h1>SMĚNY</h1>

<table id="tovarna">
  <thead>
    <tr>
      <th>Zaměstnanec</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="e: ${seznamZamestnancuSmeny}">
      <td th:text="${e.seznamZamestnancuID.zamestnanec.jmeno} + ' ' + ${e.seznamZamestnancuID.zamestnanec.prijmeni}"></td>
    </tr>
  </tbody>
</table>

</body>
</html>
