<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SPOTŘEBA ENERGIÍ</title>
  <link th:href="@{/styles/index.css}" rel="stylesheet" />

</head>
<body>
  <nav>
    <a th:text="${'Továrny'}" th:href="@{'/'}"></a>
    <a sec:authorize="hasRole('MANAGER')" th:text="${'Zaměstnanci'}" th:href="@{'/zamestnanci'}"></a>
  </nav>


  <h1>TOVÁRNA</h1>
  <img th:src="@{'/fotos/' + ${tovarna.foto}}" alt="tovarna" width="20%" height="20%">
  <br>
  <div id="tovarnainfo">
    <p id="spotreba" th:text="${'Celková spotřeba: ' + spotreba + ' kwh'}"></p>
  </div>
  <table id="tovarna">
    <thead>
      <tr>
        <th>NÁZEV HALY</th>
        <th>POČET ZAŘÍZENÍ</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="e: ${haly}">
        <td>
          <a th:href="@{'/hala/'+${e.halaID}}" th:text="${e.oznaceni}"></a>
        </td>
        <td th:text="${e.pocetZarizeni}"></td>
      </tr>
    </tbody>
  </table>

<form th:action="@{/tovarna/__${tovarna.id}__}" th:object="${newHala}" method="post">
  <h3>Přidat halu</h3>
  <label for="oznaceni">Oznaceni: </label>
  <input type="text" id="oznaceni" th:field="*{oznaceni}" placeholder="označení">
  <input type="submit" th:value="Přidat">
</form>

</body>
</html>
