<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPOTŘEBA ENERGIÍ</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet" />
</head>
<body>

<h1>ZAŘÍZENÍ HALY</h1>

<table id="tovarna">
    <thead>
    <tr>
        <th>Označení zařízení</th>
        <th>Název zařízení</th>
    </tr>

    </thead>
    <tbody>
    <tr th:each="e: ${zarizeni}">
        <td th:text="${e.oznaceni}"></td>
        <td th:text="${e.nazev}"></td>
    </tr>
    </tbody>
</table>

<form sec:authorize="hasRole('ADMIN')" th:action="@{/hala/__${hala.halaID}__/zarizeni}" th:object="${newZarizeni}" method="post">
    <h3>Přidat zařízení</h3>
    <label for="oznaceni">Označení: </label>
    <input type="text" id="oznaceni" th:field="*{oznaceni}" placeholder="označení">
    <label for="Nazev">Název: </label>
    <input type="text" id="Nazev" th:field="*{nazev}" placeholder="název">
    <input type="submit" th:value="Přidat">
</form>


</body>
</html>
